@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: larger;
}
/*Background Animation*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg,  #2f5681 0%, #212223 74%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*BackGround Animation ends*/


/*Header*/
header,
footer {
  text-align: center;
  /*background-image: linear-gradient(-60deg,  #2f5681 50%, #212223 74%);*/
  background-color: rgba(0,0,0,0); 
  box-shadow: 2px black;
  text-shadow: 10 px black;
  padding: 10px;
}
header a img {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px black;
  margin: 10px;
  width: 25vw;
  height: fit-content;
}
/*Header ends*/

/*Navigation Bar*/
/* navigation bar */
nav {
   background-color: rgba(0,0,0,0); 
  /*background-image: linear-gradient(-60deg,  #2f5681 0%, #212223 74%);*/
  overflow: hidden;
}
/* navigation bar unorder lists*/
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 3px;
}
nav #logo li {
  float: left;
}
nav #navigations li {
  float: right;
}
nav ul li a,
.dropdown .dropbtn {
  color: black;
  text-decoration: none;
  margin-top: 5px;
  padding: 10px 25px;
  font-size: 15px;
  display: inline-block;
  background-color: inherit;
  font-family: inherit;
  border: 0px;
}
#this_nav {
  background-color: #98c1d9;
  border-radius: 30px;
  overflow: hidden;
  /* margin-top: 5px; */
}
nav ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(57, 155, 241, 0.7);
  border-radius: 30px;
}
#logo_navigation {
  margin-top: -9px;
  margin-left: -5px;
  margin-bottom: -13px;
  border-radius: 10px;
  height: 50px;
  /*border: 1px solid white;*/
}
#logo_footer {
  box-shadow: 1px 5px 10px black;
  border-radius: 20px;
  border: 1px solid white;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
hr {
  height: 5px;
  border-width: 0;
  background-color: white;
}

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Home page Content*/
.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  margin: auto;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.extramsg{
	text-align: center;
	color: #fff;
}

.hidden{
	display: none;
}
/*HomePage content ends*/

/* Dashed blue border */
hr.dashed {
  border-top: 1px dashed #98c1d9;
}

/*Cards Styles*/
#cards {
  /*background-color: rgba(245, 245, 245, 0.5);*/
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /*box-shadow: 0px 5px 10px black;*/
}

.container {
  transform-style: preserve-3d;
}

.box {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}

.container .box .body .imgContainer {
  border-radius: 30px;
  padding: 30px;
  padding-top: 80px;
  text-align: center;
  background-image: linear-gradient(-60deg,  #2f5681 0%, #212223 74%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  font-size: medium;
  color: white;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.container .box .body .content .procedButton {
  margin-left: 30px;
  margin-bottom: 0px;
  background-image: linear-gradient(skyblue, black, skyblue);
  padding: 7px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  width: 120px;
}

.container .box .body .content .procedButton:hover {
  transform: scale(1.3);
  /* color: black; */
  background-image: linear-gradient(skyblue, mediumblue, skyblue);
}

.container .box .body .content a {
  color: white;
  text-decoration: none;
}

.container .box:hover .body {
  transform: rotateY(180deg);
}

.container .box .body .content div {
  border-radius: 30px;
  padding: 30px;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  background: linear-gradient(45deg, #fe0061, #ffeb3b);
  transform: translateZ(100px);
}

.container .box .body .content div h3 {
  letter-spacing: 1px;
}

/*Loginpage Styles*/
.loginform {
  border-radius: 15px;
  height: auto;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.7);
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 5px 15px 1px black;
  width: 400px;
}

.field {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  position: absolute;
  display:inline-block;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 17px;
}

input[type="submit"] {
  width: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(51, 139, 204),
    rgb(78, 222, 222)
   );
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 18px
}

input[type="submit"]:hover {
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.label {
  text-align: center;
  text-decoration: blink;
  text-shadow: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
