<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SalesReportApp</display-name>
  <welcome-file-list>
  	<welcome-file>SalorStartServlet</welcome-file>
    <welcome-file>homepage</welcome-file>
  </welcome-file-list>
  
  <!-- HomePage URL Configuration -->
  <servlet>
  	<servlet-name>homePage</servlet-name>
  	<jsp-file>/pages/index.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>homePage</servlet-name>
  	<url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  
  <!-- Login page URL Configuration -->
  <servlet>
  	<servlet-name>loginPage</servlet-name>
  	<jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginPage</servlet-name>
  	<url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  
  <!-- Signup page URL Configuration -->
  <servlet>
  	<servlet-name>signupPage</servlet-name>
  	<jsp-file>/pages/signup.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signupPage</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <!-- Profile Page URL Configuration -->
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<jsp-file>/pages/profile.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
  <!-- Exit Page URL Configuration -->
  <servlet>
  	<servlet-name>Exit</servlet-name>
  	<jsp-file>/pages/exit.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Exit</servlet-name>
  	<url-pattern>/exitpage</url-pattern>
  </servlet-mapping>
  
  <!-- Insert Product details page URL configuration -->
  <servlet>
  	<servlet-name>insertProduct</servlet-name>
  	<jsp-file>/pages/insertProduct.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>insertProduct</servlet-name>
  	<url-pattern>/insertpdturl</url-pattern>
  </servlet-mapping>
  
  <!-- Insert Product's Sales page URL configuration -->
  <servlet>
  	<servlet-name>insertProductSales</servlet-name>
  	<jsp-file>/pages/insertRecord.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>insertProductSales</servlet-name>
  	<url-pattern>/insertProductSales</url-pattern>
  </servlet-mapping>
  
  <!-- Delete Product Sales Page URL Configuration -->
  <servlet>
  	<servlet-name>deleteSales</servlet-name>
  	<jsp-file>/pages/deleteProductSales.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>deleteSales</servlet-name>
  	<url-pattern>/delPdtSalesurl</url-pattern>
  </servlet-mapping>
  
  <!-- SignupServlet URL Configuration -->
  <servlet>
  	<servlet-name>signupservlet</servlet-name>
  	<servlet-class>com.salor.servlets.SignUpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signupservlet</servlet-name>
  	<url-pattern>/signupurl</url-pattern>
  </servlet-mapping>
  
  <!-- LoginServlet URL Configuration -->
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.salor.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  
  <!-- Update Sales Report URL Configuration -->
  <servlet>
  	<servlet-name>updateSales</servlet-name>
  	<jsp-file>/pages/updateSales.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>updateSales</servlet-name>
  	<url-pattern>/updateSales</url-pattern>
  </servlet-mapping>
  
  <!-- Viewing of Sales Report URL Configuration -->
  <servlet>
  	<servlet-name>viewSales</servlet-name>
  	<jsp-file>/pages/viewSales.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>viewSales</servlet-name>
  	<url-pattern>/viewSales</url-pattern>
  </servlet-mapping>
  
  <!-- Sales Report of the Product URL Configuration -->
  <servlet>
  	<servlet-name>salesReport</servlet-name>
  	<jsp-file>/pages/salesreport.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>salesReport</servlet-name>
  	<url-pattern>/salesreport</url-pattern>
  </servlet-mapping>
  
  <!-- Modify Product Selection URL Configuration -->
  <servlet>
  	<servlet-name>modifyProduct</servlet-name>
  	<jsp-file>/pages/modifyReport.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>modifyProduct</servlet-name>
  	<url-pattern>/modifySales</url-pattern>
  </servlet-mapping>
  
  <!-- Update and Delete Sales URL Configuration -->
  <servlet>
  	<servlet-name>updateDelete</servlet-name>
  	<jsp-file>/pages/updateAndDeleteSales.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>updateDelete</servlet-name>
  	<url-pattern>/updateDeleteSales</url-pattern>
  </servlet-mapping>
  
  <!-- UpdateSales.jsp page URL Configuration -->
  <servlet>
  	<servlet-name>productToBeUpdated</servlet-name>
  	<jsp-file>/pages/updatesales.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>productToBeUpdated</servlet-name>
  	<url-pattern>/updatedInfo</url-pattern>
  </servlet-mapping>  
  
  
  
  
  
  
  
  
  
  
  
</web-app>