<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SalesReportApp</display-name>
  <welcome-file-list>
  	<welcome-file>SalorStartServlet</welcome-file>
    <welcome-file>homepage</welcome-file>
  </welcome-file-list>
  
  <!-- HomePage URL Configuration -->
  <servlet>
  	<servlet-name>homePage</servlet-name>
  	<jsp-file>/pages/index.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>homePage</servlet-name>
  	<url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  
  <!-- Login page URL Configuration -->
  <servlet>
  	<servlet-name>loginPage</servlet-name>
  	<jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginPage</servlet-name>
  	<url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  
  <!-- Signup page URL Configuration -->
  <servlet>
  	<servlet-name>signupPage</servlet-name>
  	<jsp-file>/pages/signup.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signupPage</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <!-- Profile Page URL Configuration -->
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<jsp-file>/pages/profile.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
  <!-- Exit Page URL Configuration -->
  <servlet>
  	<servlet-name>Exit</servlet-name>
  	<jsp-file>/pages/exit.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Exit</servlet-name>
  	<url-pattern>/exitpage</url-pattern>
  </servlet-mapping>
  
  <!-- SignupServlet URL Configuration -->
  <servlet>
  	<servlet-name>signupservlet</servlet-name>
  	<servlet-class>com.salor.servlets.SignUpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signupservlet</servlet-name>
  	<url-pattern>/signupurl</url-pattern>
  </servlet-mapping>
  
  <!-- LoginServlet URL Configuration -->
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.salor.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>